<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../resources/CSS/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
    <title>تقنيات الأنترنت</title>
</head>
<body>
    <div class="container">
        <img src="../public/photo_2023-02-28_19-19-51.png" alt="logo">
        <div class="content">
                <h1>قسم تقنيات الأنترنت</h1>
                <p>يهتم قسم تقنيات الانترنت بتأهيل و إعداد جيل جديد من مصممي ومطوري البرمجيات والمواقع الالكترونية لاستخدام التقنيات الحديثة في البرمجة,
                تطوير تطبيقات الانترنت, وادارة مواقع الأنترنت.
                هذا كله يأتي لتلبية احتياجات المؤسسات الليبية المتزايدة في هذا المجال في هذه المرحلة من بناء ليبيا واحتياجات سوق العمل.
                </p>
            <hr>
            <h3>أهداف البرنامج</h3>
            <ul>
                <li>تقديم المناهج المتطورة لطلاب البكالوريوس وتطبيقها عمليا لإكسابهم المهارات اللازمة في مجال تقنيات الانترنت.</li>
                <li>لإسهام  في تزويد سوق العمل بالكوادر الوطنية بما يسد احتياجات الأعمال في تقنية المعلومات.</li>
                <li>اعداد الدراسات والبحوث و الاستشارات بالأساليب الحديثة في مجال تقنيات الانترنت.</li>
            </ul>
            <hr>
            <h3>مخرجات البرنامج</h3>
            <ul>
                <li>مبرمج ومطور مواقع</li>
                <li>مبرمج في الشركات العامة والخاصة والجهات الحكومية</li>
                <li>باحث او مساعد باحث في هذا المجال</li>
            </ul>
            <hr>
        </div>
    </div>
</body>
</html>