*{
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: cairo, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(33, 64, 75, 0.9),rgba(42, 34, 51, 0.9)), url(/public/universityfront.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.content{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}

br,hr{
    margin: 2em;
    color: #fff;
}

h1{
    font-size: 3em;
    margin-bottom: 2em;
}

h3,ul{
    text-align: right;
}

img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    opacity: .1;
}